name: mongodb-backup

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
    
      - name: Get Latest Tag
        id: latest_tag
        run: echo "::set-output name=tag::$(git describe --abbrev=0 --tags)"

      - name: Display Latest Tags
        run: echo "Image build with tag ${{ steps.latest_tag.outputs.tag }}"
